{% extends 'base.twig' %}
{% block content %}
  <h1>List of Users</h1>
   <ul>
    {% for user in users %}

      <li><a href="">{{ user.name }}</a></li>
    {% endfor %}
  </ul>
  <p><a href=">Create a New User</a></p>
{% endblock %}